.page-container {
    display: flex;
    flex-direction: row;
}

.background-image {
    background-image: url('calanques.jpg');
    width: 30%;
}

.form-container {
    background-color: #00001a;
    color:beige;
}

form {
    background-color: beige;
    color: #00001a;
}
